#######################################
# Raw
#######################################
{% include "rules/generic/v6/raw.j2" %}


#######################################
# Mangle
#######################################
{% include "rules/generic/v6/mangle.j2" %}


#######################################
# NAT
#######################################
{% include "rules/generic/v6/nat.j2" %}


#######################################
# Filter
#######################################
{% include "rules/generic/v6/filter.j2" %}
