# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
{# auto lo #}
{% include 'interface.j2' %}

# Import other interfaces
source /etc/network/interfaces.d/*.conf