# ######################################
# Raw
# ######################################
{% include "rules/generic/v4/raw.j2" %}


# ######################################
# Mangle
# ######################################
{% include "rules/generic/v4/mangle.j2" %}


# ######################################
# NAT
# ######################################
{% include "rules/generic/v4/nat.j2" %}


# ######################################
# Filter
# ######################################
{% include "rules/generic/v4/filter.j2" %}
