dbc_install='{{r_bacula_install}}'
dbc_upgrade='{{r_bacula_upgrade}}'
dbc_remove='{{r_bacula_remove}}'
dbc_dbtype='{{ r_bacula_dbtype }}'
dbc_dbuser='{{ r_bacula_dbuser|mandatory }}'
dbc_dbpass='{{ r_bacula_dbpass|mandatory }}'
dbc_dballow='{{ r_bacula_dballow }}'
dbc_dbserver='{{ r_bacula_dbserver }}'
dbc_dbport='{{ r_bacula_dbport }}'
dbc_dbname='{{ r_bacula_dbname }}'
dbc_dbadmin='{{ r_bacula_db_config[r_bacula_dbtype]['dbadmin'] }}'
dbc_basepath='{{r_bacula_basepath}}'
dbc_ssl='{{r_bacula_ssl}}'
dbc_authmethod_admin='{{ r_bacula_db_config[r_bacula_dbtype]['authmethod_admin'] }}'
dbc_authmethod_user='{{ r_bacula_db_config[r_bacula_dbtype]['authmethod_user'] }}'